{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
    <h1>
      Redactor List
      <a href="{% url 'agency:redactor-create' %}" class="btn btn-primary link-to-page">
        Create
      </a>
    </h1>
    <form action="" method="get" class="form-inline">
    {{ search_driver }}
      <input style="margin: 5px" class="btn btn-primary" type="submit" value="Search">
    </form>

    {% if redactor_list %}
    <table class="table">
      <tr>
        <th>Full name</th>
        <th>Experience</th>
        <th>Update info</th>
        <th>Delete driver</th>
      </tr>
    {% for redactor in redactor_list %}
      <tr>

        <td>
          {{ redactor.first_name }}
          {{ redactor.last_name }}
          <a href="{% url 'agency:redactor-detail' pk=redactor.pk %}">profile page</a>
        </td>
        <td>{{ redactor.years_of_experience }} year{{ redactor.years_of_experience|pluralize }}</td>
        <td>
            <a href="{% url 'agency:redactor-update' pk=redactor.id %}">
              Update
            </a>
        </td>
        <td>
            <a style="color: red"
              href="{% url 'agency:redactor-delete' pk=redactor.id %}">
              Delete
            </a>
        </td>
      </tr>
    {% endfor %}

    </table>
    {% endif %}
{% endblock %}
