{% extends "base.html" %}

{% block content %}
    <h1>
      Redactor List
    </h1>

    {% if redactor_list %}
    <table class="table">
      <tr>
        <th>Full name</th>
        <th>Experience</th>
      </tr>
    {% for redactor in redactor_list %}
      <tr>
        <td>{{ redactor.first_name }} {{ redactor.last_name }}</td>
        <td>{{ redactor.years_of_experience }} year{{ redactor.years_of_experience|pluralize }}</td>
      </tr>
    {% endfor %}

    </table>
    {% endif %}
{% endblock %}
