{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
   <h1>
    Topic List
    <a style="float: right" href="{% url 'agency:topic-create' %}" class="btn btn-primary link-to-page">
      Create
    </a>
  </h1>
    <form action="" method="get" class="form-inline">
    {{ search_topic|crispy }}
      <input style="margin: 5px" class="btn btn-secondary" type="submit" value="Search">
    </form>
  {% if topic_list %}
    <table class="table">
      <tr>
        <th>Name</th>
        <th>Articles </th>
        <th>Update</th>
        <th>Delete</th>
      </tr>

      {% for topic in topic_list %}
        <tr>
          <td>
              {{ topic.name }}
          </td>
          <td>
            <a href="{% url 'agency:newspaper-list' %}">view all</a>
          </td>
          <td>
              <a href="{% url 'agency:topic-update' pk=topic.id %}">
                Update
              </a>
          </td>
          <td>
              <a style="color: red"
                href="{% url 'agency:topic-delete' pk=topic.id %}">
                Delete
              </a>
          </td>
        </tr>
      {% endfor %}
    </table>
  {% endif %}

{% endblock %}