{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}

   <h1 style="margin-top: 20px">
    Topic List
    <a href="{% url 'agency:topic-create' %}" class="btn btn-primary link-to-page">
      +
    </a>
  </h1>

    <form style="display: inline; margin: 5px" action="" method="get" class="form-inline">
    {{ search_topic|crispy }}
      <input style=" display: inline; margin: 5px" class="btn btn-secondary" type="submit" value="Search">
    </form>
  {% if topic_list %}
  <div class="card">
  <div class="table-responsive">
    <table class="table align-items-center mb-0">
    <thead>
        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Name</th>
        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Articles </th>
        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Update</th>
        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Delete</th>
      </tr>

      {% for topic in topic_list %}
        <tr>
          <td class="mb-0 text-xs">
              {{ topic.name }}
          </td>
          <td>
            <a class="text-xs font-weight-bold mb-0" href="{% url 'agency:newspaper-list' %}">view all</a>
          </td>
          <td>
              <a class="text-xs font-weight-bold mb-0" href="{% url 'agency:topic-update' pk=topic.id %}">
                Update
              </a>
          </td>
          <td>
              <a class="text-xs font-weight-bold mb-0" style="color: red"
                href="{% url 'agency:topic-delete' pk=topic.id %}">
                Delete
              </a>
          </td>
        </tr>
      {% endfor %}
    </thead>
    </table>
  </div>
  </div>
  {% endif %}

{% endblock %}